#s {
    border: solid black 2px;
    height: 200px;
    width: 200px;
    background-color: darkslateblue;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    justify-content: flex-start;
    /*flex-wrap: wrap;*/
}

div:nth-child(n) {
    height: 20px;
    width: 20px;
}

div:nth-child(even) {
    background-color: red;
}

div:nth-child(odd) {
    background-color: white;
}